.nested {
    margin-left: 2em;
    border: none;
}

.task {
    margin: 10px auto;
    padding: 4px 6em;
    min-width: 4em;
    width: 12em;
    text-align: center;
    font: 1em/2 Arial, monospace;
    color: #c11;
    border: 4px solid #c11;
}